{{- partial "init.html" . -}}

<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="noodp" />
        <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>

        {{- partial "head/meta.html" . -}}
        {{- partial "head/link.html" . -}}
        {{- partial "head/seo.html" . -}}
        {{ $js := resources.Get "ts/app/evchargerfinder.ts" | js.Build }}
        <script src="{{ $js.Permalink }}"></script>
    </head>
    <body data-header-desktop="{{ .Site.Params.header.desktopMode }}" data-header-mobile="{{ .Site.Params.header.mobileMode }}">
        {{- /* Check theme isDark before body rendering */ -}}
        {{- $theme := .Site.Params.defaulttheme -}}
        <script type="text/javascript">(window.localStorage && localStorage.getItem('theme') ? localStorage.getItem('theme') === 'dark' : ('{{ $theme }}' === 'auto' ? window.matchMedia('(prefers-color-scheme: dark)').matches : '{{ $theme }}' === 'dark')) && document.body.setAttribute('theme', 'dark');</script>

        <div id="mask"></div>
        {{- partial "header.html" . -}}
        <!-- Trigger/Open The Modal -->
        <button id="filtersBtn" class="gm-control-active"><span class="fa-solid fa-filter fa-2xl"></span></button>
        <div id="filters" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
                <span id="closeFiltersBtn" class="close">&times;</span>
                <p>Options:</p>
                <br>
                <label for="dist">Distance:</label>
                <input type="text" id="dist" name="dist" placeholder="Enter distance from selected location">
                <br>
                <label for="countlimit">Count:</label>
                <input type="text" id="countlimit" name="countlimit" value="10">
                <br>
                <br>
                <input id="searchloc" class="searchbar" type="text" placeholder="Search for a location"/>
                <input id="currentloc" type="button" value="Use current location"/>
            </div>
        </div>
        <div id="map" ></div>
        <!--
            The `defer` attribute causes the callback to execute after the full HTML
            document has been parsed. For non-blocking uses, avoiding race conditions,
            and consistent behavior across browsers, consider loading using Promises
            with https://www.npmjs.com/package/@googlemaps/js-api-loader.
            -->
        <script
        src="https://maps.googleapis.com/maps/api/js?key={{ .Site.Params.googleMapsApi }}&callback=initMap&v=weekly&libraries=places"
        defer
        ></script>

        <div id="fixed-buttons">
            {{- /* top button */ -}}
            <a href="#" id="back-to-top" class="fixed-button" title="{{ T `backToTop` }}">
                <i class="fas fa-arrow-up fa-fw" aria-hidden="true"></i>
            </a>

            {{- /* comment button */ -}}
            <a href="#" id="view-comments" class="fixed-button" title="{{ T `viewComments` }}">
                <i class="fas fa-comment fa-fw" aria-hidden="true"></i>
            </a>
        </div>

        {{- /* Load JavaScript scripts and CSS */ -}}
        {{- partial "assets.html" . -}}
    </body>
</html>